.contenu {
    margin-left: 275px;
    flex: 1;
    min-height: 100vh;
}

body {
    font-family: 'Inter';
}

.fil {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #1F384C;
    margin-bottom: 30px;
}
.fil a {
    color: #1F384C;
    text-decoration: none;
}

.corps-enseignant h1 {
    font-size: 26px;
    font-weight: 500;
    color: #1b2e53;
    font-family:'Poppins', sans-serif;
}

.corps-enseignant .contenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.corps-enseignant .contenu h1 {
    font-size: 26px;
    font-weight: 500;
    color: #1b2e53;
    font-family:'Poppins', sans-serif;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 80px;
}

.header-section .btn-ajouter {
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #2C416E;
    padding: 0 20px;
    height: 44px;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}

