*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ===================================================== */
/* =================== PAGE CONNEXION ===================== */
/* ===================================================== */


body {
    font-family: 'Inter';
}

.pageconnexion .page{
    display:flex;
    min-height:100vh;
}

.pageconnexion .barre-gauche{
    display: flex;
    width:250px;
    background:#e6e8ec;
    padding:20px;
}

.pageconnexion .barre-gauche img {
    width: 30px;
    height: 35px;
    object-fit: contain;
}

.pageconnexion .barre-gauche .sous-titre {
    font-size: 12px;
    font-weight: bold;
}

.pageconnexion .gros-text{
    font-size: 17px;
    font-weight: bold;
    color: #1b2e53;
}

.pageconnexion .text-logo{
    display: block;
    padding-left: 4px;
    margin-top: 10px;
    color: #2c416e;
}

.pageconnexion .logo{
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-right: 5px;
}

.pageconnexion .contenu{
    padding:60px 80px;
}

.pageconnexion .titre-principal{
    font-size:28px;
    font-weight:700;
    margin-bottom:40px;
}

.pageconnexion .bloc-connexion{
    max-width:500px;
}

.pageconnexion .titre-connexion{
    font-size:20px;
    color:#2c416e;
    margin-bottom:20px;
}

.pageconnexion .formulaire-connexion{
    display:flex;
    flex-direction:column;
}

.pageconnexion .champ{
    display:flex;
    flex-direction:column;
    margin-bottom:20px;
}

.pageconnexion .champ label{
    font-size:14px;
    margin-bottom:6px;
}

.pageconnexion .champ input{
    padding:12px;
    border:1px solid #ccc;
    border-radius:4px;
    width: 450px;
}

.pageconnexion .bouton-connexion{
    width:200px;
    padding:12px;
    background:#2c416e;
    color:white;
    border:none;
    border-radius:6px;
    font-weight:bold;
    cursor:pointer;
}

.pageconnexion .bouton-connexion:hover{
    background:#2e3f64;
}

/* ===================================================== */
/* =================== FIN PAGE CONNEXION ===================== */
/* ===================================================== */


/* ===================================================== */
/* =================== PAGE CORPS ENSEIGNANT ===================== */
/* ===================================================== */

.corps-enseignant .fil-dariane {

display: flex;
align-items: flex-start;
padding: 15px 0px 15px 40px;
gap: 20px;
border: 1px solid #e6e8ec;
margin-bottom: 30px;
font-family: 'Poppins', sans-serif;
color: #1F384C;
}



.corps-enseignant h1 {
font-size: 26px;
font-weight: 500;
color: #1b2e53;
font-family:'Poppins', sans-serif;
}

.corps-enseignant .contenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.corps-enseignant .contenu h1 {
    font-size: 26px;
    font-weight: 500;
    color: #1b2e53;
    font-family:'Poppins', sans-serif;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 80px;
}

.header-section .btn-ajouter {
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #2C416E;
    padding: 0 20px;
    height: 44px;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}

/* ===================================================== */
/* =================== FIN PAGE CORPS ENSEIGNANT ===================== */
/* ===================================================== */



/* ===================================================== */
/* =================== PAGE INTERVENTION ===================== */
/* ===================================================== */
