.contenu {
    margin-left: 275px;
    flex: 1;
    min-height: 100vh;
}

.titre-principal {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 40px;
}

.bloc-filtre {
    max-width: 500px;
}

.titre-filtre {
    font-size: 16px;
    font-weight: 500;
    color: #FFBD01;
    margin-bottom: 20px;
}

.formulaire-filtre {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.champ {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.champ label {
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: 300;
}

.champ input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 278px;
    outline: none;
}

.champ input:focus {
    border-color: #2c416e;
}


.bouton-filtre {
    width: 150px;
    height: 44px;
    background: #FFBD01;
    color: black;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.bouton-filtre:hover {
    background: #e6a800;
}

.hrcouleur {
    height: 1px;
    background-color: #FFBD01;
    width: 1150px;
}

h3 {
    margin-top: 20px;
    font-weight: 450;
    font-size: 20px;
}

table {
    background-color: rgba(232, 233, 236, 0.6);
    width: 1150px;
    height: 60px;
    border-radius: 5px;
    margin-top: 15px;
}

th {
    color: #344054;
    font-weight: 450;
}
