*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: 'Inter', 'Poppins';
}

.page{
    display:flex;
    min-height:100vh;
}

.barre-gauche{
    display: flex;
    width:250px;
    background:#e6e8ec;
    padding:20px;
}

.barre-gauche img {
    width: 25px;
    height: 30px;
    object-fit: contain;
}

.barre-gauche .sous-titre {
    font-size: 10px;
    font-weight: bold;
}

.gros-text{
    font-size: 15px;
    font-weight: bold;
    color: #1b2e53;
}

.text-logo{
    display: block;
    padding-left: 4px;
    margin-top: 10px;
    color: #2c416e;
}

.logo{
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-right: 5px;
}

.contenu{
    padding:60px 80px;
}

.titre-principal{
    font-size:25px;
    font-weight: 400;
    margin-bottom:40px;
}

.bloc-filtre{
    max-width:500px;
}

.titre-filtre{
    font-size:16px;
    font-weight: 500;
    color:#FFBD01;
    margin-bottom:20px;
}

.formulaire-filtre{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap: 8px;

}

.champ{
    display:flex;
    flex-direction:column;
    margin-bottom:20px;
}

.champ label{
    font-size:14px;
    margin-bottom:6px;
    font-weight: 200;
}

.champ input{
    padding:12px;
    border:1px solid #ccc;
    border-radius:4px;
    width: 278px;
}

.bouton-filtre{
    width:150px;
    height: 44px;
    background:#FFBD01;
    color:black;
    font-weight: 500;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-family: 'Poppins';
    justify-content: center;
}

.bouton-connexion:hover{
    background:#2e3f64;
}

.hrcouleur {
    height: 1px;
    background-color: #FFBD01;
    width: 1150px;
}

h3 {
    margin-top: 20px;
    font-weight: 450;
    font-size: 20px;
}

table {
    background-color: rgba(232, 233, 236, 0.6);
    width: 1150px;
    height: 60px;
    border-radius: 5px;
    margin-top: 15px;

}

th {
    color: #344054;
    font-weight: 450;
}
